<%- include('../partials/header') %>
<%- include('../partials/main_nav') %>

<div class="container">
    <ul class="list-unstyled">
        <% projectsList.forEach((project)=> { %>
            <li>
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <image class="w-100" src=<%= project.image %>></image>
                            </div>
                            <div class="col">
                                <h3>
                                    <%= project.title %>
                                </h3>
                                <p>
                                    <%= project.description %>
                                </p>
                            </div>
                        </div>
                    </div>
            </li>
            <hr />
        <% }) %>
    </ul>
</div>
<%- include('../partials/bottom_nav') %>
<%- include('../partials/footer') %>