<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="container">
    <ul class="list-unstyled">
        <% serviceList.forEach((service)=> { %>
            <li>
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <image class="w-100" src=<%= service.image %>></image>
                            </div>
                            <div class="col d-flex flex-wrap align-items-center">
                                <h3>
                                    <%= service.title %>
                                </h3>
                            </div>
                        </div>
                    </div>
            </li>
            <hr />
        <% }) %>
    </ul>
</div>
<%- include('../partials/footer') %>